/* Maps.css */
#Maps{
 padding: 2em 2em;
 height: 100%;
}
#Maps .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
#Maps .container{
    height: 100%;
}
#Maps .container .map-find-area{
}
#Maps .container .map-view-area{
}
#Maps .container .map-find-menu{
    margin: 0px !important;
    width: 100%;
}
#Maps .container .map-find-menu .find-input{}
#Maps .container .map-find-menu .find-result-area{
    height: 730px;
}
#Maps .container .map-find-menu .find-padding{
    text-align: center;
}
#Maps .container .hot-keyword-area{
    position: absolute;
    z-index: 1000;
    top: 80px;
    right: 0px;
}
#Maps .container .map-find-menu .find-padding .pagination-input{
width: calc(100% - 77px);
}
#Maps > div.ui.grid.container > div.four.wide.column.map-find-area > div > div.item.find-result-area {
	cursor: pointer;
}
/* #Maps .container .map-find-menu .find-padding .btn-pre {

}
#Maps .container .map-find-menu .find-padding .btn-next {

} */
#overlay-area{
    background-color: #fff;
    border: 1px solid #000;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 2px solid #000000;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 50px;
	margin-left: -50px;
}
.arrow_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 53px;
	margin-left: -53px;
}